<section class="mainbox">
  <div class="form">

  <form class="" action="/products/<%= @product.id %>" method="post">
    <table>
      <tr>
        <td>
          <label for="name">Product Name:</label>
        </td>
        <td>
          <input id="name" type="text" name="name" value="<%= @product.name %>">
        </td>
      </tr>
      <tr>
        <td>
    <label for="product-code">Product Code:</label>
        </td>
        <td>
          <input id="product-code" type="text" name="product_code" value="<%= @product.product_code %>">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost-price">Cost Price:</label>
        </td>
        <td>
          <input id="cost-price" type="number" name="cost_price" value="<%= @product.cost_price %>">
        </td>
      </tr>
      <tr>
        <td>
          <label for="retail-price">Retail Price:</label>
        </td>
        <td>
          <input id="retail-price" type="number" name="retail_price" value="<%= @product.stock.retail_price %>">
        </td>
      </tr>
      <tr>
        <td>
          <label for="stock-qty">Stock Quantity:</label>
        </td>
        <td>
          <input id="stock-qty" type="number" name="stock_qty" value="<%= @product.stock.stock_qty %>">
        </td>
      </tr>
      <tr>
        <td>
          <label for="categories">Category:</label>
        </td>
        <td>
          <select name="category_id" id="categories">
            <% @categories.each do |category| %>
              <option value="<%= category.id %>" <%= "selected" if @product.category.id == category.id %> ><%= category.name %>
              </option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="description">Description:</label>
        </td>
        <td>
          <input type="textarea" name="description" value="<%= @product.description %>">
        </td>
      </tr>
      <tr>
        <td>
          <label for="suppliers">Supplier:</label>
        </td>
        <td>
          <select name="supplier_id" id="suppliers">
            <% @suppliers.each do |supplier| %>
              <option value="<%= supplier.id %>" <%= "selected" if @product.supplier.id == supplier.id %> ><%= supplier.company_name %>
              </option>
            <% end %>
          </select>
        </td>
      </tr>
    </table>
    <input type="submit" value="Save">

  </form>

  </div>

  <div class="">

  <form action="/products/<%= @product.id %>/delete" method="post">
    <input type="submit" value="Delete" id="">
  </form>

  </div>
</section>
