<section class="mainbox">
  <div class="">
    <p><a href="/products/new">Add new product</a></p>
  </div>
  <div class="">
    <p></p>
    <% @products.each do |product| %>
    <div class="">
      <p>Item Name: <%= product.name %></p>
      <p>Item number: <%= product.product_code %></p>
      <p>Retail Price: £<%= product.stock.retail_price %>.00</p>
      <p>Quantity in stock: <%= product.stock.stock_qty %></p>
      <p id="stock_status">Stock Status: <%= product.stock.stock_qty_status() %></p>
      <p>Category: <%= product.category.name %></p>
    </div>
    <div class="">
      <ul>
        <li>
          <a href="/products/<%= product.id %>">More details</a>
        </li>
        <li>
          <a href="/products/<%= product.id %>/edit">Edit/Delete</a>
        </li>
      </ul>
    </div>
    <div class="productimg">
      <img src="../images/products/<%= product.product_code %>.jpg" alt="<%= product.name %>">
    </div>
    <hr />
    <% end %>
  </div>
</section>
