<section class="mainbox">

<p></p>

<div class="">
  <p>Item Name: <%= @product.name %></p>
  <p>Item number: <%= @product.product_code %></p>
  <p>Cost Price: £<%= @product.cost_price %>.00</p>
  <p>Retail Price: £<%= @product.stock.retail_price %>.00</p>
  <p>Quantity in stock: <%= @product.stock.stock_qty %></p>
  <p id="stock_status">Stock Status: <%= @product.stock.stock_qty_status() %></p>
  <p>Category: <%= @product.category.name %></p>
  <p>Description: <%= @product.description %></p>
  <p>Supplier: <%= @product.supplier.company_name %></p>
</div>
<div class="">
  <ul>
    <li>
      <a href="/products/<%= @product.id %>/edit">Edit/Delete</a>
    </li>
  </ul>
</div>
<div class="productimg">
  <img src="../images/products/<%= @product.product_code %>.jpg" alt="<%= @product.name %>">
</div>
<hr />

</section>
