<section class="mainbox">

  <p></p>

  <div class="detail">
    <p><a href="/suppliers/new">Add new supplier</a></p>
    <h2>Suppliers</h2>

    <% @suppliers.each do |supplier| %>
    <table>
    <tr>
      <td>
        <p class="label">Company Name:</p>
      </td>
      <td>
        <p><%= supplier.company_name %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="label">Address:</p>
      </td>
      <td>
        <p><%= supplier.address %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="label">Telephone:</p>
      </td>
      <td>
        <p><%= supplier.telephone %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="label">Email:</p>
      </td>
      <td>
        <p><%= supplier.email %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="label">Website:</p>
      </td>
      <td>
        <p><%= supplier.web_address %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="label">Sales Contact:</p>
      </td>
      <td>
        <p><%= supplier.sales_contact %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="label">notes:</p>
      </td>
      <td>
        <p><%= supplier.notes %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p><a href="/suppliers/<%= supplier.id %>/edit">Edit</a></p>
      </td>
      <td>

      </td>
    </tr>
    </table>
      <hr />
  <% end %>

  </div>


</section>
